-# Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy of
-# this software and associated documentation files (the "Software"), to deal in
-# the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
-# SOFTWARE.

%nav#menubar.navbar.fixed-top.navbar-dark.navbar-expand-lg
    .container
        %button.navbar-toggler{:type => "button", :data-toggle => "collapse", :data-target => "#navbarSupportedContent", :aria-controls => "navbarSupportedContent", :aria-expanded => "false", :aria-label => "Toggle navigation"}
            %span.navbar-toggler-icon

        #navbarSupportedContent.collapse.navbar-collapse

            %ul.navbar-nav
                - for menu, content in MENU.items():
                    - if content is mapping
                        %li.nav-item.dropdown
                            %a#navbarDropdown.nav-link.dropdown-toggle{:role => "button", :data-toggle => "dropdown", :aria-haspopup => "true", :aria-expanded => "false", :href => "#"}
                                = menu
                            .dropdown-menu{:aria-labelledby => "navbarDropdown"}
                                - for submenu, subcontent in content.items()
                                    - if subcontent:
                                        %a.dropdown-item{:href => "{{ subcontent }}"}
                                            = submenu
                                    - else
                                        .dropdown-divider
                    - else
                        %li.nav-item
                            %a.nav-link{:href => "{{ content }}"}
                                = menu
