-# Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy of
-# this software and associated documentation files (the "Software"), to deal in
-# the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
-# SOFTWARE.

- extends "base/base.html"

- block title
  {{ SITENAME }}

- block metadescription
  {{ SITENAME }} website

- block metakeywords
  {{ SITENAME }}, {{ SITEDOMAIN }}, website

- block contenthead

- block header

    .container
        .row.hero-home
            .col
                .h1
                    The
                    %img{:src => "/theme/img/gnome-logo.svg", :alt => "GNOME", :height => "60"}
                    conference

                .h1.guadec
                    GUADEC

                .h4
                    {{ GUADEC_LOCATION }}

                .h5.thin-text
                    {{ GUADEC_DATES }}


- block content
    .container
        .row.intro-home
            .col
                .h4.text-center GUADEC brings together Free Software Enthusiasts and professionals from all over the world. Join us for six days of talks, demos, discussion, parties, games and more.

        -if SPONSORS
            .row.sponsors-home
                .col
                    .h2 Sponsors
                    - for name, url, image in SPONSORS:
                        %a{:href => "{{ url }}", :rel => "nofollow", :target => "_blank"}
                            %img{:src => "/images/sponsors/{{ image }}", :alt => "{{ name }}", :height => "50"}

        .row.subintro-home
            .col
                %p Join us to find out about the latest technical developments, learn new skills and tools, attend talks by leading experts, and participate in workshops and discussions. You will also get the opportunity to participate in the GNOME project, meet community members, as well as connect with local groups and organisations.

    .highlights-home
        .container
            .row
                .highlight.dates-home.col-md-4.text-center
                    .icon.oi.oi-calendar
                    .h5
                        SAVE THE DATE
                    %p
                        Days 1-3 are
                        %a{:href => "/pages/schedule.html"}
                            talks,
                        days 4-6 are
                        %a{:href => "/pages/unconference.html"}
                            workshops and training

                .highlight.talks-home.col-md-4.text-center
                    .icon.oi.oi-chat
                    .h5
                        TALKS
                    %p
                        See the talks schedule
                        %a{:href => "/pages/schedule.html"}
                            here

                .highlight.register-home.col-md-4.text-center
                    - if OPEN_REGISTRATION
                        %a{:href => "https://registration.guadec.org/", :rel => "nofollow", :target => "_blank"}
                            .icon.oi.oi-circle-check
                            .h5
                                REGISTER
                            %p
                                Registration is open now!

                    - else
                        .icon.oi.oi-circle-check
                        .h5
                            REGISTER
                        %p
                            Registration is not open yet.


    .container

        - if articles_page.object_list
            .row.news-home
                .col
                    .h2.text-center  News

            .row.news-home-articles
                - for article in articles_page.object_list[:3]
                    -#- include "includes/postlist_article.html"
                    .news-article.col-md-4
                        %a.h5{:href => "{{ article.url }}", :title => "{{ article.title }}"}
                            = article.title
                        %p
                            = article.summary
                        %a.button{:href => "{{ article.url }}"}
                            Read more

        .row.social-home
            .col.text-center
                - include "includes/socials.html"
                .h4 Follow us for news and updates
