-# Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy of
-# this software and associated documentation files (the "Software"), to deal in
-# the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
-# SOFTWARE.

!!!
%html{:lang => "{{ LANGUAGE_CODE }}"}
    %head
        %meta{:charset => "utf-8"}
        %meta{:http-equiv => "X-UA-Compatible", :content => "IE-edge"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, user-scalable=no"}
        %meta{:name => "theme-color", :content => "#057"}
        %meta{:name => "msapplication-navbutton-color", :content => "#057"}
        %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "#057"}

        %title {% block title %}{{ SITENAME }}{% endblock %} - {{ SITEDOMAIN }}
        %meta{:name => "description", :content => "{% block metadescription %}{% endblock %}"}
        %meta{:name => "keywords", :content => "{% block metakeywords %}{% endblock %}"}

        - block meta

        %link{:rel => "dns-prefetch", :href => "//fonts.googleapis.com"}
        %link{:rel => "alternate", :type => "application/rss+xml", :title => "{{ SITENAME }} feed", :href => "/rss"}
        %link{:rel => "icon", :href => "{{ SITEURL }}/theme/img/icon-32x32.png'"}
        %link{:rel => "icon", :href => "{{ SITEURL }}/theme/img/icon-192x192.png'"}
        %link{:rel => "apple-touch-icon-precompose", :href => "{{ SITEURL }}/theme/img/icon-180x180.png'"}
        %link{:rel => "msapplication-TileImage", :href => "{{ SITEURL }}/theme/img/icon-270x270.png'"}

        %link{:rel => "stylesheet", :href => "{{ SITEURL }}/theme/css/screen.css"}

        /[if lt IE 9]
            %script{:src => "https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"}
            %script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}

        -# Feeds
        - include "includes/feeds_head.html"

    %body{:class => "{% block bodyclass %}default{% endblock %}"}
        #header

            .container
                - include 'includes/navbar.html'

                - block header


        #content
            #content-head
                -block contenthead
                    #breadcrumbs.container
                        %a{:href => "{{ SITEURL }}", :title => "Home"}
                            Home
                        - block breadcrumbs

            #content-body
                - block content

        #footer
            .container
                - block footer
                    .row
                        -# Foot links
                        - include 'includes/footlinks.html'

                        -# Socials
                        - include 'includes/socials.html'

                    -#
                        .row
                            #copyright.col.text-center &copy;{{ SITEYEAR }}
                                %a{:href => "{{ SITEURL }}", :title => "{{ SITENAME }}"}
                                    {{ SITENAME }}
                                |
                                %a{:href => "{{ SITEURL }}/pages/legal.html"}
                                    Legal terms and privacy policy

        - include "includes/cookiesmessage.html"

        #goup.btn-website
            .oi.oi-caret-top

        %script{:src => "{{ SITEURL }}/theme/js/scripts.js"}

        - block extra_scripts
