// Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy of
// this software and associated documentation files (the "Software"), to deal in
// the Software without restriction, including without limitation the rights to
// use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
// of the Software, and to permit persons to whom the Software is furnished to do
// so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@import "social/*.png"
@include all-social-sprites

$socialroundbg: gray !default
$socialroundhover: lightgray !default

$facebookcolor: #3b5998
$twittercolor: #1da1f2
$googlepluscolor: #db4437
$pinterestcolor: #bd081c
$instagramcolor: #dddddd
$youtubecolor: #fb0f21
$whatsappcolor: #37b12f
$rsscolor: #f81
$qrcodecolor: #068

@mixin social-s
    display: inline-block
    width: 32px
    height: 32px


@mixin social-m
    display: inline-block
    width: 48px
    height: 48px


@mixin social-l
    display: inline-block
    width: 64px
    height: 64px


@mixin social-xl
    display: inline-block
    width: 128px
    height: 128px


@mixin social-round
    border-radius: 50%
    background-color: $socialroundbg

    &:hover
        background-color: $socialroundhover


.social-s
    @include social-s


.social-m
    @include social-m


.social-l
    @include social-l


.social-xl
    @include social-xl


.social-round-s
    @include social-s
    @include social-round


.social-round-m
    @include social-m
    @include social-round


.social-round-l
    @include social-l
    @include social-round


.social-round-xl
    @include social-xl
    @include social-round


.social-facebook-sw, .social-facebook-mw, .social-facebook-lw, .social-facebook-xlw,
.social-facebook-sb, .social-facebook-mb, .social-facebook-lb, .social-facebook-xlb
    &:hover
        background-color: $facebookcolor

.social-twitter-sw, .social-twitter-mw, .social-twitter-lw, .social-twitter-xlw,
.social-twitter-sb, .social-twitter-mb, .social-twitter-lb, .social-twitter-xlb
    &:hover
        background-color: $twittercolor

.social-googleplus-sw, .social-googleplus-mw, .social-googleplus-lw, .social-googleplus-xlw,
.social-googleplus-sb, .social-googleplus-mb, .social-googleplus-lb, .social-googleplus-xlb
    &:hover
        background-color: $googlepluscolor

.social-pinterest-sw, .social-pinterest-mw, .social-pinterest-lw, .social-pinterest-xlw,
.social-pinterest-sb, .social-pinterest-mb, .social-pinterest-lb, .social-pinterest-xlb
    &:hover
        background-color: $pinterestcolor

.social-instagram-sw, .social-instagram-mw, .social-instagram-lw, .social-instagram-xlw,
.social-instagram-sb, .social-instagram-mb, .social-instagram-lb, .social-instagram-xlb
    &:hover
        background-color: $instagramcolor

.social-youtube-sw, .social-youtube-mw, .social-youtube-lw, .social-youtube-xlw,
.social-youtube-sb, .social-youtube-mb, .social-youtube-lb, .social-youtube-xlb
    &:hover
        background-color: $youtubecolor

.social-whatsapp-sw, .social-whatsapp-mw, .social-whatsapp-lw, .social-whatsapp-xlw,
.social-whatsapp-sb, .social-whatsapp-mb, .social-whatsapp-lb, .social-whatsapp-xlb
    &:hover
        background-color: $whatsappcolor

.social-rss-sw, .social-rss-mw, .social-rss-lw, .social-rss-xlw,
.social-rss-sb, .social-rss-mb, .social-rss-lb, .social-rss-xlb
    &:hover
        background-color: $rsscolor

.social-qrcode-sw, .social-qrcode-mw, .social-qrcode-lw, .social-qrcode-xlw,
.social-qrcode-sb, .social-qrcode-mb, .social-qrcode-lb, .social-qrcode-xlb
    &:hover
        background-color: $qrcodecolor
